/* General Styles */

:root {
  --opacity-transition: opacity 400ms ease-out;
  --dark-mode-transition-timing: 250ms ease-out;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 110ms ease-out;
}

.dark-mode {
  color: white;
}

.dark-mode a {
  color: #4797F5;
}

.dark-mode #background {
  background-color: #000000!important;
}

.dark-mode #background, .dark-mode-off #background {
  transition: background-color var(--dark-mode-transition-timing);
}

/* Info */

#info-wrapper, #settings-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  padding: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: var(--opacity-transition);
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

#info-wrapper {
  justify-content: space-between;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#info-wrapper.show {
  opacity: 1;
  pointer-events: initial;
}

#settings-gear {
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
}

.show #settings-gear {
  cursor: pointer;
}

#info-text {
  font-size: 1.5rem;
  font-weight: 500;
  pointer-events: none;
}

#about-text {
  pointer-events: none;
}

#info-wrapper a {
  pointer-events: initial;
}

/* Settings */

.settings #settings-wrapper {
  opacity: 1;
  pointer-events: initial;
}

.settings #info-wrapper, .settings #info-wrapper.show {
  opacity: 0;
  pointer-events: none;
}

#settings-container {
  display: flex;
  align-items: center;
}

#dark-mode-toggle {
  cursor: pointer;
  margin-right: 0.875rem;
  transform: translate(0.125rem, 0.125rem)
}

#sun, #moon {
  font-size: 1.75rem;
  text-shadow: 0 0 2px #000;
}

.dark-mode #moon {
  display: none;
}

#sun {
  display: none;
}

.dark-mode #sun {
  display: inline;
}

#color-temperature-slider {
  position: relative;
  width: 200px;
  margin-right: 1rem;
  cursor: pointer;
}

#color-temperature-slider::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: -.25rem;
  bottom: 0;
  left: -.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 0 8px #fff;
  opacity: 0;
  transition: opacity var(--dark-mode-transition-timing);
}

.dark-mode #color-temperature-slider::before {
  opacity: 1;
}

#reset-button {
  margin-right: 0.725rem;
  cursor: pointer;
}

#close-settings {
  cursor: pointer;
  text-shadow: 
  1px 0 0 rgba(255, 255, 255, 0),
  -1px 0 0 rgba(255, 255, 255, 0),
  0 1px 0 rgba(255, 255, 255, 0),
  0 -1px 0 rgba(255, 255, 255, 0);
  transition: text-shadow var(--dark-mode-transition-timing);
}

.dark-mode #close-settings {
  text-shadow: 
    1px 0 0 rgba(255, 255, 255, 0.5),
    -1px 0 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.5),
    0 -1px 0 rgba(255, 255, 255, 0.5);
}
