/* General Styles */

:root {
  --opacity-transition: opacity 400ms ease-out;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 110ms ease-out;
}

/* Info */

#info-wrapper, #settings-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  padding: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: var(--opacity-transition);
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

#info-wrapper {
  justify-content: space-between;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#info-wrapper.show {
  opacity: 1;
  pointer-events: initial;
}

#settings-gear {
  user-select: none;
  -webkit-user-select: none;
}

.show #settings-gear {
  cursor: pointer;
}

#info-text {
  font-size: 1.5rem;
  font-weight: 500;
  pointer-events: none;
}

#about-text {
  pointer-events: none;
}

#info-wrapper a {
  pointer-events: initial;
}

/* Settings */

.settings #settings-wrapper {
  opacity: 1;
  pointer-events: initial;
}

.settings #info-wrapper, .settings #info-wrapper.show {
  opacity: 0;
  pointer-events: none;
}

#settings-container {
  display: flex;
  align-items: center;
}

#color-temperature-slider {
  width: 200px;
  margin-right: 1rem;
}

#reset-button {
  margin-right: 0.725rem;
}

#close-settings {
  cursor: pointer;
}
